<!DOCTYPE html>
<html>
<head>
    <title>Seiyuu in Common</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Seiyuu in Common</h1>
    <h2>Look for seiyuu who worked in the following two anime</h2>
    <h2>Just paste the url for the anime media you want to compare, eg. https://myanimelist.net/anime/14719/JoJo_no_Kimyou_na_Bouken_TV</h2>
    <form action="/result" method="post">
        <label for="text1">Anime MAL url 1:</label>
        <input type="text" id="text1" name="text1"><br><br>
        <label for="text2">Anime MAL url 2:</label>
        <input type="text" id="text2" name="text2"><br><br>
        <input type="submit" value="Search">
    </form>
</body>
</html>

